<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<p><a href="/logout">Выход</a></p>
<p><a href="/">Главная страница</a></p>
<p><a href="/user">User page</a></p>
<p><a href="/admin">Список поользователей</a></p>
<h2>Менеджер пользователей</h2>
<form action="/admin/show-info-new-user" method="POST">
    <p>
        <label for="username">Имя пользователя: </label>
        <input type="text" id="username" name="username" required size="10"/>
    </p>
    <p>
        <label for="password">Пароль: </label>
        <input type="password" id="password" name="password" required size="10"/>
    </p>
    <p>
        <label for="email">E-mail: </label>
        <input type="email" id="email" name="email" required size="10"/>
    </p>
    <p>
        <label>Роль пользователя:</label><br/>
        <label for="roleUser">user</label>
        <input type="checkbox" id="roleUser" name="roleUser">
        <label for="roleAdmin">admin</label>
        <input type="checkbox" id="roleAdmin" name="roleAdmin">
    </p>
    <button type="submit">Добавить</button>
</form>
</body>
</html>