<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Менеджер пользователей</title>
</head>
<body>
<p><a href="/logout">Выход</a></p>
<p><a href="/">Главная страница</a></p>
<p><a href="/user">User page</a></p>
<h2>Менеджер пользователей</h2>
<p><a href="/admin/add-user">Добавить пользователя</a></p>
<table border="1" cellpadding="5">
    <th:block th:each="user:${listUsers}">
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td><a th:href="@{/admin/edit-user-form(id=${user.getId()})}">Редактировать</a></td>
            <td><a th:href="@{/admin/delete-user(id=${user.getId()})}">Удалить</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>